<ul class="blx-dox-header--nav nav nav-pills">
  <li class="{{#is page.slug "grid"}}active{{/is}}"><a href="{{page.baseurl}}grid">Grid</a></li>
  <li class="{{#is page.slug "buttons"}}active{{/is}}"><a href="{{page.baseurl}}buttons">Buttons</a></li>
  <li class="{{#is page.slug "typography"}}active{{/is}}"><a href="{{page.baseurl}}typography">Typography</a></li>
  <li class="{{#is page.slug "colors"}}active{{/is}}"><a href="{{page.baseurl}}colors">Colors</a></li>
  <li class="{{#is page.slug "navigation"}}active{{/is}}"><a href="{{page.baseurl}}navigation">Navigation</a></li>
  <li class="{{#is page.slug "forms"}}active{{/is}}"><a href="{{page.baseurl}}forms">Forms</a></li>
</ul>